:root {
  --primary-color: #001B3B;
  --secondary-color: beige;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--secondary-color);
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  background-color: var(--primary-color);
  width: 100vw;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--secondary-color);
}

.register {
  min-width: 50vw;
  max-width: 90vw;
  border: 2px double var(--primary-color);
  border-radius: 8px;
  min-height: 28rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1rem;
}

.register h3 {
  color: var(--primary-color);
  margin: 0;
  margin-bottom: 1rem;
}

input {
  border: 2px double var(--primary-color);
  border-radius: 25px;
  background-color: lightgray;
  margin: 0.5rem;
  padding: 0.5rem;
}

input:focus {
  outline: none;
}

.output {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

form p {
  font-weight: 600;
  color: var(--primary-color);
  margin: 0;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  /* width: 90%; */
}

td, th {
  border: 1px solid var(--secondary-color);
  text-align: center;
  padding: 3px;
}

td {
  background-color: tomato;
  width: 3.2rem;
}

th {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 5px;
}

button {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 25px;
  padding: 0.5rem;
  width: 5rem;
}

h4 {
  color: var(--primary-color);
}

hr {
  color: var(--primary-color);
}